* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html {
    scroll-behavior: smooth;

}

:root {
    --primaria: #0353ff;
    --secundaria: #0b2399;
    --escuro: #0d0d0e;
    --maisEscuro: #080808;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.055);

}

body {
    background-color: var(--escuro);
    color: var(--claro);

}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(31, 31, 31, 0.527);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;

}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;

}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;

}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.3s ease-in-out;

}

.menu-link:hover::after {
    width: 100%;

}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;

}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;

}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);

}

.sobre {
    padding: 6rem 2rem;

}

.sobre-titulo {
    padding: 1rem;
    font-size: 3rem;
    color: var(--claro);
    text-align: center;

}

.sobre-caixa{
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);

}

.sobre-paragrafo {
    font-size: 1rem;

}

.projetos {
    padding: 6rem 2rem;

}

.projetos-caixa {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;

}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    cursor: pointer;

}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;

}

.projetos-card:hover {
    box-shadow: var(--primaria) 0px 4px 30px, var(--secundaria) 0px 6px 30px;
    transform: translateY(-10px) scale(1.05);
    transition: all 0.3s ease;

}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.caixa-textos-projetos {
    padding: 1.5rem;

}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
    padding: 1rem;

}

.info-projetos {
    margin-bottom: 5px;

}

.contatos {
    padding: 6rem 2rem;

}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;

}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}

.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;

}

.campo-form:focus {
    border-color: var(--secundaria);
    box-shadow: var(--primaria) 0px 0px 5px, var(--secundaria) 0px 0px 10px;

}

.grupo-form {
    margin-bottom: 1.5rem;
    
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: 1px solid var(--vidro);
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;

}

.botao-form:hover {
    background: transparent;
    border: 1px solid var(--primaria);
    transition: 0.5s;

}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;

}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
  
}